header {
	text-align: center;
	min-height: 100px;
	margin-top: 60px;
	background-image: url(../images/pickledlogo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 380px;
}

a {
	text-decoration: none;
}
/* NAV */
nav {
font-family: nobel, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 18;
text-align: center;
border-bottom: solid;
border-color: #EFA710;
border-width: 2px;
}


nav a:hover {color: #42AC73}
nav a {color: black}

nav ul{
overflow:hidden;
}
nav li{
display:inline-block;
padding: 30px 30px;
}

/* NAV END */

/* MAIN START */
main {
font-family: nobel, sans-serif;
font-weight: 200;
font-style: normal;
}

main img {
  	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
  	display: block;
  	border-radius: 50px;
  	padding: 25px;
  	text-align: center;
}

div img {
	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
  	display: block;
  	border-radius: 50px;
  	padding: 25px;
}

article{
	max-width: 600px;
	margin:0 auto;
  	text-align: center;
  	padding-bottom: 30px;
}

article h2{
	font-family: nobel, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	padding: 15px;
	font-size: 18pt;
	color: black;
}

article h3{
	font-family: nobel, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 14pt;
	padding: 10px;
	color: #42AC73;
}

article ul{
	list-style-type: circle;
	margin:0 auto;
	padding: 10px;
}

article ol{
	list-style-type: upper-hexadecimal; 
}
article li {
	font-family: nobel, sans-serif;
	font-weight: 200;
	font-style: normal;
	text-align: center;
	padding: 15px;
	font-size: 13pt;
	margin:0 auto;
}

/* MAIN END */

footer {
	font-family: nobel, sans-serif; 
	font-weight: 200;
	font-style: normal;
	color: white;
	text-align: center;
	padding: 20px;
	border-top: solid;
	border-color: #EFA710;
	border-width: 2px;
	background-color: #EFA710;
}
